<div id="main_content">
	<div class="container-fluid">
	<br>
		<div class="card clear-bg noborder">
			<div class="row">	
				<div class="col-sm-6">
					<div class="card clear-bg noborder">
						<h1 class="card-title noborder", id="me", style="font-size: 500%"> Kerron Streater</h1>
						<div >
							<h3 class="i_am" id="role_writer"> Writer </h3>
							<h3 class="i_am" id="role_actor"> Actor </h3>
							<h3 class="i_am" id="role_editor"> Editor </h3>
							<h3 class="i_am" id="role_developer"> Web Developer </h3>
						</div>			
					</div>		
				</div>
				<div class="col-sm-6">
					<div class="c1 circle shapeborder">
						<div class="c2 circle">
							<div class="c3 circle">	
								<%= image_tag("kerron.jpg", :class => "kerron_circle") %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<br>
	<br>				
		<div class="row justify-content-center">
			<div class="col-sm-6">
				<div class="about_me">	
					<div class="card blk-rim">
						
						<div class="card-title" id="no_matter" style='text-align: center; font-size:45px'>
							<p>No matter how you may have found me...</p>
							<p>I'm happy you're here!</p>
						</div>

						<div class="card">
							<div class="more">
								<p style="padding: 5px;">The world is a facinating place filled with many wonderful things, when I get the time I'm going to do a better job at putting cool wods here that make me seem even more awesome. Until then I guess We'll just be left with whatever this rambling mess is.</p>

								<p style="padding: 5px;">The world is a facinating place filled with many wonderful things, when I get the time I'm going to do a better job at putting cool wods here that make me seem even more awesome. Until then I guess We'll just be left with whatever this rambling mess is.</p>

								<p style="padding: 5px;">The world is a facinating place filled with many wonderful things, when I get the time I'm going to do a better job at putting cool wods here that make me seem even more awesome. Until then I guess We'll just be left with whatever this rambling mess is.</p>

								<p style="padding: 5px;">The world is a facinating place filled with many wonderful things, when I get the time I'm going to do a better job at putting cool wods here that make me seem even more awesome. Until then I guess We'll just be left with whatever this rambling mess is.</p>
							</div>
							<button type="button" class="btn btn-secondary" id="about_me" style="padding: 5px;">
											But enough about me, what about you?
							</button>
						</div>
					</div>
				</div>

				<div class="about_you">
					<div class="card blk-rim">
						<div class="card-title" id="no_matter" style='text-align: center; font-size:45px'>
							<p>What brings you here?</p>
						</div>

						<div class="card">
							<p style="text-align: center">
								<button type="button" class='fan btn' style="font-size:30px;">I'm A Fan</button> 
								<button type="button" class='creative btn' style="font-size:30px;">Creative Writing</button> 
								<button type="button" class='webdesign btn' style="font-size:30px;">Web Design</button>
							</p>

							<div style="text-align: center;">
								<div id="render_fan">
									<%= render partial: 'fans/form', :fan => @fan %>
								</div>

								<div id="render_web">
									<%= render partial: 'codeworks/form', :codework => @codework %>
								</div>

								<div id="render_help">
									<%= render partial: 'helps/form', :help => @help %>
								</div>
							</div>
							<button type="button" class="btn btn-secondary" id="about_you" style="padding: 5px; text-align: center;">
									But enough about you, what about me?
							</button>
						</div>						
					</div>
				</div>
			</div>
		</div>
	<br>
	<br>
		<div class="row">
			<div class="col-sm-12">
				
				<div id="icons" style="text-align: center;">
					<span class="social_media">Want to see what I'm up to? You can also find me on these awesome platforms:</span>

					<br>
					<br>

					<span id="linkedin_icon">	
						<a href="https://www.linkedin.com/in/kerron-streater/"> <%= image_tag "linkedin_icon" %></a>
					</span>
								
					<span id="twitter_icon">
						<a href="https://twitter.com/Unseenmonument"> <%= image_tag("twitter_icon2.png", size: "78x78") %> </a>
					</span>

					<span id="github_icon">
						<a href="https://github.com/unseenmonument"> <%= image_tag("github_icon", size: "78x78") %> </a>
					</span>
								
					<span id="instagram_icon">
						<a href="https://www.instagram.com/unseenmonument/"> <%= image_tag "instagram_icon" %> </a>
					</span>
								
					<span id="facebook_icon">
						<a href="https://www.facebook.com/Unseenmonument"> <%= image_tag "facebook_icon" %> </a>
					</span>
				</div>
			</div>
		</div>

		<div class="fans_render">	
			<%= render partial: 'fans/test1', locals: { fans: @fans } %>
		</div>

			
		<div id="make_user" class="modal">
			<%= render partial: 'homepages/user', :user => @user %>
		</div>
			
		

	</div>
</div>