<%= form_with(model: @fan, local: false,) do |form| %>
  <% if @fan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fan.errors.count, "error") %> prohibited this fan from being saved:</h2>

      <ul>
      <% fan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :fan_name %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :fan_country %>
  </div>

  <div class="field">
    <%= form.label :book %>
    <%= form.text_field :book, id: :fan_book %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, id: :fan_comment %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, id: :fan_rating %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
