



<!--<div class="card">
	<div class="card-body">
			<%= form_for @story do |f| %>
				<div class="card-header">
				  <p>Author Name: <%= f.text_field :author %></p>
				  <p>Story Title: <%= f.text_field :title %></p>
				  <p>Publish Date: <%= f.text_field :puslished %></p>
				</div> 
				  <p>Your Story: <%= f.text_area :story %></p>
				<div class="card-footer">
				  <%= f.submit 'Subit Your Story' %>
				 </div>
			<% end %>
	</div> -->
</div>