<p id="notice"><%= notice %></p>

<h1>Codeworks</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>City</th>
      <th>State</th>
      <th>Postion</th>
      <th>Salary</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @codeworks.each do |codework| %>
      <tr>
        <td><%= codework.company %></td>
        <td><%= codework.city %></td>
        <td><%= codework.state %></td>
        <td><%= codework.postion %></td>
        <td><%= codework.salary %></td>
        <td><%= codework.comments %></td>
        <td><%= link_to 'Show', codework %></td>
        <td><%= link_to 'Edit', edit_codework_path(codework) %></td>
        <td><%= link_to 'Destroy', codework, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Codework', new_codework_path %>
