<!DOCTYPE html>
<html>
  <head>
    <title>Portsite2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="body" style="padding-left: 0">
  	<div id="intro">
		<%= render partial: 'homepages/intro' %>
	</div>
  	<div class="container-fluid" style="padding-left: 0">
	  	<div class="row">
			<div class="col-sm-2" style="margin: 0; padding-right: 0">

				<div class="sidebar_small"></div>



			  	<nav class="nav_total side_bar">

			  		<p class="nav-item side_bar menu-drop" > Menu </p>
			  		
			  		<ul class="nav-item navbar-nav nav-extra">

			  			<% if !user_signed_in? %>
					  		<li id="create_account" class="nav-item side_bar nav-extra">
					  			<p class="nav-extra-link">Log In/Create Account</p>
					  		</li>
					  	<% else %>
						  	<li id="btn_sign_out" class="nav-item side_bar nav-extra">
							  <p class="nav-extra-link"><%= link_to('Sign Out', destroy_user_session_path, method: :delete) %></p>        
							</li>
					  	<% end %>
					  	<!--<% if user_signed_in? %>
					  		<li id="btn_sign_out" class="nav-item side_bar">
					  			<p class="vertical-text">Sign Out</p>
					  		</li>
					  	<% end %> -->

				  		
			  			<li class="nav-item side_bar nav-extra">
			  				<p class="nav-extra-link">Home</p>
			  			</li>
			  			<li class="nav-item side_bar nav-extra">
			  				<p class="nav-extra-link">WebDev</p>
			  			</li>
			  			<li class="nav-item side_bar nav-extra">
			  				<p class="nav-extra-link">Writing Samples</p>
			  			</li>  		
			  		</ul>

			  	</nav>
			</div>
		

			<!-- <div> -->

				<div class="col-sm-9" style="margin: 0px; padding-left: 0">
					<%= yield %>
				</div>

			<!-- </div> -->

	    </div>

	    <div class="justify-content-center">
	    	<span> © Copyright 2019 Kerron Streater</span>
		</div>

	</div>
  </body>
</html>
