<!DOCTYPE html>
<html>
  <head>
    <title>Portsite2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="body">
  	<div id="intro">
		<%= render partial: 'intro' %>
	</div>
  	<div class="container-fluid">
	  	<div class="row">
			<div class="col-sm-1">
			  	<nav>

			  		<ul class="navbar-nav">
				  			<li class="nav-item side_bar">
				  				<p class="vertical-text">Log In</p>
				  			</li>
				  			<li class="nav-item side_bar">
				  				<p class="vertical-text">Log Out</p>
				  			</li>
			  			<li class="nav-item side_bar">
			  				<p class="vertical-text">Home</p>
			  			</li>
			  			<li class="nav-item side_bar">
			  				<p class="vertical-text">WebDev</p>
			  			</li>
			  			<li class="nav-item side_bar">
			  				<p class="vertical-text">Writing Samples</p>
			  			</li>  		
			  		</ul>

			  	</nav>
			</div>
		
			<div class="col-sm-11" style="margin: 0;">
				<%= yield %>
			</div>

		</div>

	    
	    <div class="justify-content-center">
	    	<span> © Copyright 2018 Kerron Streater</span>
		</div>
	</div>
  </body>
</html>
